services:
  # 1. Backend
  server:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/app/backend # Mount code (nếu có thay đổi là tự cập nhật)
    # not using local db
    # depends_on:
    #   - db

  # not using local db
  # 2. Database
  # db:
  #   image: postgres:15-alpine
  #   restart: always
  #   volumes:
  #     - db_data:/var/lib/postgresql/data
  #   env_file:
  #     - .env
  #   environment:
  #     - POSTGRES_USER=${DATABASE_USER}
  #     - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
  #     - POSTGRES_DB=${DATABASE_NAME}
  #   ports:
  #     - "5432:5432"

  # 3. Frontend
  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_BASE_URL=http://localhost:8000
    depends_on:
      - server

volumes:
  db_data:
